name: Caller Workflow

on:
  workflow_dispatch:
    inputs:
      env_name:
        description: "Environment name"
        required: true
        type: choice
        options:
          - dev
          - stg

jobs:
  do-stuff:
    runs-on: ubuntu-latest
    steps:
      - name: prep
        run: echo "Preparing to call reusable workflow"
  call-reusable-workflow:
    needs: do-stuff
    uses: tkeburia/reusable-workflow-example/.github/workflows/sample.yml@main
    with:
      env_name: ${{ github.event.inputs.env_name }}

  clean-up:
    runs-on: ubuntu-latest
    needs: call-reusable-workflow
    steps:
      - name: cleanup
        run: echo "Cleaning up after reusable workflow"
